---
// TODO: add some goodies here for props
const { title = 'home' } = Astro.props;
---

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}: Mykal's Component Library</title>
<!-- OPEN PROPS -->
<link rel="stylesheet" href="https://unpkg.com/open-props"/>
<!-- CUSTOM STYLES -->
<link rel="stylesheet" href={Astro.resolve('../../styles/global.scss')} />

